<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="page-wrapper">
    <div class="sidebar position-relative">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="" class="navbar-brand my-4 ms-3"><img _ngcontent-upr-c1="" src="../assets/company-logo.png"
                        alt="Company Logo"></a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navigationBar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- <div *ngIf="loginSuccess" class="alert alert-success" role="alert">
                    Login successful..!
                  </div> 
                  <div *ngIf="loginError" class="alert alert-danger" role="alert">
                    Login failed..!
                </div>  -->


                <div class="collapse navbar-collapse" id="navigationBar">
                    <ul class="navbar-nav navigation-top-link">
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="../Admin_dashboardComponent"><i class="bi bi-house-door me-3"></i><span>Dashboard</span></a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="../admin_subject"><i
                                    class="bi bi-speedometer2  me-3"></i><span>Subject</span></a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link disabled"><i class="bi bi-bug  me-3"></i><span>Forum</span></a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link disabled"><i class="bi bi-grid  me-3"></i><span>Library</span> </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link disabled"><i class="bi bi-people  me-3"></i><span>My Profile</span></a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="../askme"><i class="bi bi-question-circle  me-3"></i><span>Ask me</span></a>
                        </li>

                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="../chatbot"><i class="bi bi-question-circle  me-3"></i><span>Chat</span></a>
                        </li>

                        <!-- <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="../chatQuestion"><i class="bi bi-question-circle  me-3"></i><span>Questions</span></a>
                        </li> -->

                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link disabled"><i class="bi bi-gear  me-3"></i><span>Settings</span></a>
                        </li>
                     
                    </ul>
                   <!-- <ul class="navbar-nav d-flex">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link"><i class="bi bi-box-arrow-right  me-3"></i></a>
                    </li>
                   </ul> -->
                   <!-- <ul class="navbar-nav d-flex"> -->
                    <!-- Other sidebar items -->
                  
                    <!-- <li class="nav-item mb-2">
                      <a href="javascript:void(0);" class="nav-link" (click)="logout()">
                        <i class="bi bi-box-arrow-right me-3"></i>
                        Logout
                      </a>
                    </li>
                  </ul> -->
                </div>

            </div>
        </nav>
    </div>
    <div class="outer-content-wrapper">
        <div class="top-header py-2 pe-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 offset-md-7">
                        <div class="d-flex">
                            <div class="input-group me-3">
                                <input type="text" class="form-control common-form-control" placeholder="Search Here">
                                <button type="button" class="btn btn-primary search-btn"><i class="bi bi-search"></i></button>
                            </div>

                            <div class="list-group list-group-horizontal list-group-flush">
                                <a class="list-group-item list-group-action me-2 px-3" href="#"><i class="bi bi-bell"></i></a>
                                <a class="list-group-item list-group-action mx-2 px-3" href="#"><i class="bi bi-person"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="dashboard-fliter py-2 px-4">
            <div class="container-fluid">
                <div class="row mx-0 align-items-center">
                    <!-- <div class="col-md-4">
                        <div class="row  align-items-center">
                            <label for="" class="input-label common-form-label col-md-3">Select Role</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control common-form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row  align-items-center">
                            <label for="" class="input-label common-form-label col-md-3">Select Domain</label>
                            <div class="col-md-9">        
                                <input type="text" class="form-control common-form-control">
                            </div>
                        </div>                                                
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary primary-btn coloured-btn">GO</button>
                    </div> -->

                    <div class="col-md-8">
                        <div class="custom-dropdown">
                            <button class="dropdown-toggle" id="dropdownMenuButton">{{ selectedItem }}</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" (click)="onSelectItem('iMedOne Overview')">iMedOne Overview</a>
                                <a class="dropdown-item" (click)="onSelectItem('Skill Knowledge')">Skill Knowledge</a>
                            </div>
                        </div>
                    </div>
                   <div class="col-md-4">
                    <button type="button" class="btn-e20086" routerLink="../subsection">Add </button>
                </div>
        

                </div>

            </div>
        </div>
        <!-- <h5> {{selectedItem}}</h5> -->
<!--======================================================================================================================================================-->


               
<!--========================================================================================================================================-->
        <div class="inner-content-wrapper pt-4 pb-3 px-4">
            
            <div class="container-fluid" *ngIf="selectedItem === 'iMedOne Overview'">

           
<div class="row">
    <div class="col-md-10 offset-md-1">
                <div class="row mx-0 ">
                    
                 <!-- Card 1 -->
                 <!-- <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title" routerLink="../subsection">Subject One</h5>
                            <div class="circle d-flex justify-content-center align-items-center bg-e20086 text-white">1</div>
                        </div>
                    </div>
                </div> -->
<!-- 
                <div class="col-md-4 mb-4">
                    <div class="card h-100"  style="width: 18rem;">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Subtopic One <i class="material-icons delete-icon" (click)="deleteCard($event)">delete</i></h5>
                            <div class="circle d-flex justify-content-center align-items-center bg-e20086 text-white">1</div>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button type="button" class="btn-e20086" routerLink="../subsection">Edit</button>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100"  style="width: 18rem;">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Subtopic Two  <i class="material-icons delete-icon" (click)="deleteCard($event)">delete</i></h5>
                            <div class="circle d-flex justify-content-center align-items-center bg-e20086 text-white">1</div>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button type="button" class="btn-e20086">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100"  style="width: 18rem;">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Subtopic T  <i class="material-icons delete-icon" (click)="deleteCard($event)">delete</i></h5>
                            <div class="circle d-flex justify-content-center align-items-center bg-e20086 text-white">1</div>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button type="button" class="btn-e20086">Edit</button>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-4 mb-4">
                    <div class="card h-100"  style="width: 18rem;">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Subtopic Four  <i class="material-icons delete-icon" (click)="deleteCard($event)">delete</i></h5>
                            <div class="circle d-flex justify-content-center align-items-center bg-e20086 text-white">1</div>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button type="button" class="btn-e20086">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100"  style="width: 18rem;">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Subtopic Five  <i class="material-icons delete-icon" (click)="deleteCard($event)">delete</i></h5>
                            <div class="circle d-flex justify-content-center align-items-center bg-e20086 text-white">1</div>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button type="button" class="btn-e20086">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100"  style="width: 18rem;">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Title example  <i class="material-icons delete-icon" (click)="deleteCard($event)">delete</i></h5>
                            <div class="circle d-flex justify-content-center align-items-center bg-e20086 text-white">1</div>
                            <p class="card-text">Description Example</p>
                            <button type="button" class="btn-e20086">Edit</button>
                        </div>
                    </div>
                </div>
<!-- admin-subtopic.component.html -->

<div *ngFor="let data of titleDescriptionData">
    <div class="col-md-4 mb-4">
      <div class="card h-100" style="width: 18rem;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ data.title }}<i class="material-icons delete-icon" (click)="deleteCard($event)">delete</i></h5>
          <div class="circle d-flex justify-content-center align-items-center bg-e20086 text-white">1</div>
          <p class="card-text">{{ data.description }}</p>
          <button type="button" class="btn-e20086" routerLink="../subsection">Edit</button>
        </div>
      </div>
    </div>
  </div>
  
  

                <!-- <div class="row">
                    <div class="col-md-4 mb-4" *ngFor="let subtopic of subtopics">
                        <div class="card h-100" style="width: 18rem;">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ subtopic.title }} <i class="material-icons delete-icon" (click)="deleteSubtopic(subtopic)">delete</i></h5>
                                <div class="circle d-flex justify-content-center align-items-center bg-e20086 text-white"></div>
                                <p class="card-text">{{ subtopic.description }}</p>
                                <button type="button" class="btn-e20086" routerLink="../subsection">Edit</button>
                            </div>
                        </div>
                    </div>
                </div> -->



                </div>
                
            </div>
        </div>
    </div>
</div>
<!--======================================================================================================================================================================-->

<div class="inner-content-wrapper pt-4 pb-3 px-4">
    <div class="container-fluid" *ngIf="selectedItem === 'Skill Knowledge'">
<div class="row">
<div class="col-md-10 offset-md-1">
        <div class="row mx-0 ">


            <div class="col-md-4 mb-4">
                <div class="card h-100"  style="width: 18rem;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Subtopic One  <i class="material-icons delete-icon" (click)="deleteCard($event)">delete</i></h5>
                        <div class="circle d-flex justify-content-center align-items-center bg-e20086 text-white">1</div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button type="button" class="btn-e20086" routerLink="../subsection">Edit</button>
                    </div>
                </div>
            </div>
              
            <!-- Card 1 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100"  style="width: 18rem;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Subtopic Two  <i class="material-icons delete-icon" (click)="deleteCard($event)">delete</i></h5>
                        <div class="circle d-flex justify-content-center align-items-center bg-e20086 text-white">1</div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button type="button" class="btn-e20086"  routerLink="../subsection">Edit</button>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100"  style="width: 18rem;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Subtopic Thr  <i class="material-icons delete-icon" (click)="deleteCard($event)">delete</i></h5>
                        <div class="circle d-flex justify-content-center align-items-center bg-e20086 text-white">1</div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button type="button" class="btn-e20086"  routerLink="../subsection">Edit</button>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
             <div class="col-md-4 mb-4">
                <div class="card h-100"  style="width: 18rem;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Subtopic Four  <i class="material-icons delete-icon" (click)="deleteCard($event)">delete</i></h5>
                        <div class="circle d-flex justify-content-center align-items-center bg-e20086 text-white">1</div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button type="button" class="btn-e20086"  routerLink="../subsection">Edit</button>
                    </div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100"  style="width: 18rem;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Subtopic Five  <i class="material-icons delete-icon" (click)="deleteCard($event)">delete</i></h5>
                        <div class="circle d-flex justify-content-center align-items-center bg-e20086 text-white">1</div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button type="button" class="btn-e20086"  routerLink="../subsection">Edit</button>
                    </div>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100"  style="width: 18rem;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Subtopic Six  <i class="material-icons delete-icon" (click)="deleteCard($event)">delete</i></h5>
                        <div class="circle d-flex justify-content-center align-items-center bg-e20086 text-white">1</div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button type="button" class="btn-e20086"  routerLink="../subsection">Edit</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
</div>
</div>
<!--================================================================================================================================================-->
        <div class="dashboard-footer pe-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-end">
                        <button type="button" class="btn btn-primary grey-btn me-3">Cancel</button>
                        <button type="button" class="btn btn-primary coloured-btn">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
